.input-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.input-error_active {
  display: block;
}

@media screen and (max-width: 500px) {
  .input-error {
    max-width: 238px;
    font-size: 10px;
  }
}
