.popup {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  margin: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__container {
  max-width: 430px;
  width: 100%;
  height: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  align-self: center;
  border-radius: 10px;
}

.popup__show {
  display: flex;
}

.popup__container_image {
  width: 75vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.popup__image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.popup__image-title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 16px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.popup_image .form__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: 282px;
  }
}
